<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uci.wifiproxy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <application
        android:name=".WifiProxyApplication"
        android:allowBackup="true"
        android:description="@string/description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="uci.wifiproxy.proxy.ProxyActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profile.addEditProfile.AddEditProfileActivity" />
        <activity android:name=".profile.profileDetails.ProfileDetailsActivity" />

        <activity android:name=".firewall.addEditFirewallRule.AddEditFirewallRuleActivity" />
        <activity android:name=".firewall.firewallRuleDetails.FirewallRuleDetailsActivity" />

        <activity
            android:name=".profile.profilesList.ProfilesListActivity"
            android:launchMode="singleTop"
            tools:ignore="UnusedAttribute">
        </activity>

        <activity
            android:name=".firewall.firewallRulesList.FirewallRulesListActivity"
            android:launchMode="singleTop"
            tools:ignore="UnusedAttribute">
        </activity>

        <service
            android:name="uci.wifiproxy.proxy.service.ProxyService"
            android:icon="@mipmap/ic_launcher"
            android:label="WifiProxyService"
            android:launchMode="singleTop"
            android:stopWithTask="false">
            <!--android:process=":UCIntlmService"-->
        </service>

    </application>

</manifest>