<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uci.wifiproxy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />

    <application
        android:name=".WifiProxyApplication"
        android:allowBackup="true"
        android:description="@string/description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:sharedUserId="android.uid.system">

        <activity
            android:name="uci.wifiproxy.proxyscreen.ProxyActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.OverlapSystemBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".profilescreens.addeditprofile.AddEditProfileActivity" />
        <activity android:name=".profilescreens.profiledetails.ProfileDetailsActivity" />

        <activity android:name=".firewallscreens.addeditfirewallrule.AddEditFirewallRuleActivity" />
        <activity android:name=".firewallscreens.firewallruledetails.FirewallRuleDetailsActivity" />

        <activity
            android:name=".profilescreens.profileslist.ProfilesListActivity"
            android:launchMode="singleTop"
            tools:ignore="UnusedAttribute">
        </activity>

        <activity
            android:name=".firewallscreens.firewallruleslist.FirewallRulesListActivity"
            android:launchMode="singleTop"
            tools:ignore="UnusedAttribute">
        </activity>

        <activity
            android:name=".tracescreens.traceslist.TracesListActivity"
            android:launchMode="singleTop"
            tools:ignore="UnusedAttribute">
        </activity>

        <service
            android:name="uci.wifiproxy.proxycore.ProxyService"
            android:icon="@mipmap/ic_launcher"
            android:label="WifiProxyService"
            android:launchMode="singleTop"
            android:stopWithTask="false">
            <!--android:process=":UCIntlmService"-->
        </service>

        <activity android:name=".aboutscreen.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity"/>

    </application>

</manifest>